.listenImage{
    display: inline-block;
    width:100%;
    height: auto;

}

.imgOutline{
    max-width:300px;
    padding-left:0px;
    display: inline-block;
    text-align: left;
    position: absolute;
    z-index:2;
    left:0;
    
}

.main{
    text-align:center;
}
.instructionAlign{
padding-left: 20%;
padding-right: 20%;
text-align:left;
}
.parentElemet{
    position: relative;
    width: 300px;
    height: 160px;

}

ul {
    list-style-type: none;
  }

.micIcon{
    color:green;
    font-size: 50px;
    position: absolute;
    text-align: right;
    z-index:10;
    
}

.alignQuestions{
    text-align: center;
}

.instructions{
    text-align: center

}


.pausebutton{
    display: inline-block;
    position:absolute;
    right:50px;
}