<div class="container" *ngIf="!pause">
    <main>
        <div class="timeAlign">
            <div class="col-md-2  ">
                <app-timer (fromtimer)="abc($event)" [sTime]="fromstime"></app-timer>
                <div class="pausebutton">
                    <button type="button" class="btn btn-link" (click)="pausePlayListen()">
                        <b>Pause</b>
                    </button>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="instructions">
            <div class="panel-default instructionAlign">
                <div [innerHTML]="SelectedIns.instruction"></div>
            </div>
        </div>

        <div class="row alignQuestions">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                <div class="parentElemet">

                    <div href="#" class="play_holder micIcon">
                        <span class="glyphicon glyphicon-volume-up color" (click)="clickAudio()"></span>
                    </div>


                    <div class="container imgOutline" *ngFor="let a of ex.Qa">

                        <div *ngFor="let b of a.Img">
                            <img class="listenImage" src="{{b}}" />
                        </div>

                    </div>

                </div>


            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="options instructionAlign">
                    <form data-toggle="validator" role="form">
                        <div *ngFor="let a of ex.Qa">
                            <div class="form-group" *ngFor="let ans of a.Ans;let ind = index">
                                <label class="radio-inline">
                                    <input type="radio" id="answer{{ind}}" name="answer" value="answer" (change)="grammar(ans)">{{ans}}</label>
                            </div>
                        </div>
                        <div class="container" *ngIf="alert">
                            <p class="text-danger">Please select a valid answer</p>
                        </div>
                    </form>
                </div>
            </div>

        </div>

    </main>
    <div class="containerButton">
        <button type="button" class="button" (click)="onClick()">
            Next</button>
    </div>

</div>
<app-pause (pauseTestEvent)="pausePlayMainlisten($event)" (PauseTimeEvent)="SetPauseTime($event)" [PauseTime]="eveHere" *ngIf="pause"></app-pause>