<div class="container">
  <h4>Pause</h4><br>
  <div class="hr"><hr/></div><br>

<div class="container">The test clock is not running.<br>
  When you are ready to continue working on the test,<button type="button" class="btn btn-link" (click)="pausePlayMain()"><b>Click here</b></button></div>

</div>