.parent-front{
    text-align:center;
  }
  .child-front{
    width:100%;
    max-width:900px;
    display:inline-block;
  }
  .front-content{
    padding:0 15%;
  }
  section{
  padding: 60px 0;
  }
  section .section-title{
  color:black;
  margin-bottom:50px;
  font-size: 2em;
  
  }
  .note{
    text-align: center;

  }
  
  .card-title{
    color:black;
    font-weight:bold; 
  }
  .check{
      font-size: 20px;
      color:#28903b
  }
  .arrow{
    font-size: 20px;
    color:red
  }
  .bigger_head{
      font-size:1.5em;
  }
  #what-we-do{
  background:#ffffff;
  }
  #what-we-do .card{
  padding: 1rem!important;
  border: none;
  margin-bottom:1rem;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
    transition: .5s all ease;
    text-align: left;
  }
  #what-we-do .card:hover{
  -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  }
  #what-we-do .card .card-block{
  padding-left: 50px;
    position: relative;
  }
  #what-we-do .card .card-block a{
  color: black !important;
  font-weight:700;
  text-decoration:none;
  }
  #what-we-do .card .card-block a i{
  display:none;
  
  }
  #what-we-do .card:hover .card-block a i{
  display:inline-block;
  font-weight:700;
  
  }
  #what-we-do .card .card-block:before{
  font-family: FontAwesome;
    position: absolute;
    font-size: 39px;
    color: black;
    left: 0;
  -webkit-transition: -webkit-transform .2s ease-in-out;
    transition:transform .2s ease-in-out;
  }
  #what-we-do .card .block-1:before{
    content: "\f02d";
    color:#28903b
  }
  
  #what-we-do .card .block-3:before{
    content:"\f025";
    color:#00a1b1;
    
  }

  
  #what-we-do .card .block-4:before{
    content: "\f0e6";
    color:#cbdb2a;
  }
  
  #what-we-do .card .block-6:before{
    content: "\f031";
    color:#f7941e;
  }
  #what-we-do .card:hover .card-block:before{
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);	
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
  }
  
  .next-button {
    background-color: #e28007;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-color: transparent;
    color: white;
    padding: 6px;
    
  }
  