<div class=" parent-front">
  <div class="child-front">
    <section id="what-we-do">
      <div class="container-fluid">
       
        <div class="front-content">
        <p class="text-left text-center "><b><span class="bigger_head">Congratulations!</span> you've completed the Grammar section</b></p>
        <div class="row mt-5">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <div class="card">
              <div class="card-block block-1 ">
                <h5 class="card-title">Grammar  <i class="fa fa-check check" aria-hidden="true"></i></h5>
                <p class="card-text">26 Questions
                  <br> 15 minutes</p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <div class="card">
              <div class="card-block block-3 ">
                  <i class="icon-arrow-right"></i>
                  <h5 class="card-title">Speaking  <i class="fa fa-arrow-left arrow" aria-hidden="true"></i></h5>
                  <p class="card-text">16 Questions
                    <br> 15 minutes</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <div class="card">
              <div class="card-block block-4 ">
                  <h5 class="card-title">Reading</h5>
                  <p class="card-text">16 Questions
                    <br> 15 minutes</p>
                
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <div class="card">
              <div class="card-block block-6">
                <h5 class="card-title">Listening</h5>
                <p class="card-text">8 Questions
                  <br> 7 minutes</p>
              </div>
            </div>
          </div>
        </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="card">
              <div class="card-block ">
                <p class="card-text note h6">The next section tests your Listening skills.you have 15 minutes to answer 16 Questions
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button type="button " class="next-button" (click)="next()">Next
        <span class="glyphicon glyphicon-play"></span>
      </button>
    </section>
    </div>
    </div>
