<div class=" parent-front">
  <div class="child-front">
    <section id="what-we-do">
      <div class="container-fluid">
        <h4 class="section-title mb-2 text-center">
          <b>Welcome to the One Assessment (STEP+)</b>
        </h4>
        <div class="front-content">
        <p class="text-left text-muted h5">This is a timed test.You have 50 minutes to complete it.The test contains four sections.</p>
        <div class="row mt-5">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <div class="card">
              <div class="card-block block-1">
                <h5 class="card-title">Grammar</h5>
                <p class="card-text">26 Questions
                  <br> 15 minutes</p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <div class="card">
              <div class="card-block block-3">
                <h5 class="card-title">Listening</h5>
                <p class="card-text">8 Questions
                  <br> 7 minutes</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <div class="card">
              <div class="card-block block-4 ">
                <h5 class="card-title">Speaking</h5>
                <p class="card-text">16 Questions
                  <br> 15 minutes</p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <div class="card">
              <div class="card-block block-6">
                <h5 class="card-title">Reading</h5>
                <p class="card-text">16 Questions
                  <br> 15 minutes</p>
              </div>
            </div>
          </div>
        </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="card">
              <div class="card-block ">
                <p class="card-text note"> At beginning of each section,you will have instructions on how to complete the different types of questions
                  in that section.The timer in the center of each page will tell you how much time you have left to complete
                  the section.Once you have submitted your answer to the question, you may not go back to the question.
                  <br>
                  <br> We strongly reccommend that you complete the entire test in a single session. If you end your session,before
                  you complete the test, you will resume test the next time you log in.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button type="button " class="next-button" (click)="start()">Start the test
        <span class="glyphicon glyphicon-play"></span>
      </button>
    </section>
    </div>
    </div>