<header>
  <div class="navbar navbar-dark bg-dark">
      <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand">
              <img src="./assets/images/GElogo.png" alt="">
          </a>
      </div>
  </div>
</header>


<main>

    
</main>
<footer class="footer">
  <div class="container center">
      <div class="row">
          <div class="col-sm-6">
              <a class="nav-link js-scroll-trigger" href=""> © 2018 GlobalEnglish Corporation. All Rights Reserved.</a>
          </div>
      </div>
  </div>
</footer>

