a {
    color: inherit !important;
    text-decoration: none !important;
}


.bg-dark {
    background-color: #5A5A5C!important;
}




html {
    position: relative;
    min-height: 100%;
}

body {
     margin-bottom: 60px; 
    /* Margin bottom by footer height */
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    text-align:justify;
    font-size: 10px;
    /* Set the fixed height of the footer here */
    line-height: 60px;
    /* Vertically center the text there */
    background-color: #cccccc;
   
}
.panel-default {
    right: 200px;
    width: 100%;
    padding: 10px;
}

hr {
    margin: 0 !important;
}
.head{
    position: fixed;
}

.well1 {
   
    position: absolute;
    right: 0px;
    width: 50px;
    padding: 2px;
    font-size: 15px;
    color:white;
    border: black;
    background-color: black;
    border-radius: 5px;
    
    
}



.modal-backdrop.show {
    z-index: -1;
}

.active {
    opacity: 0.2;
}




.navbar {
    border-radius: 0px !important;
    margin-bottom: 0 !important;
}



