.bg-dark {
    background-color: rgb(209, 209, 216)!important;
}


.well {
   
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
    width:100%;
    height:100%;
    background-color: rgb(223, 213, 211) !important;
    font-size: 15px;
    margin-bottom: 0px;
    
    
}
.containerButton{
    text-align: center;
}

