<div class="container align-center" *ngIf="!pause">
    <main>
        <div class="col-md-2 col-md-offset-5">
            <app-timer (fromtimer)="abc($event)" [sTime]="fromstime"></app-timer>
            <div class="container">
                <button type="button" class="btn btn-link" (click)="pausePlayGrammar()">
                    <b>Pause</b>
                </button>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="panel-default">
            <div [innerHTML]="SelectedIns.instruction1"></div>
        </div>
        <div class="container">
            <div class="well" *ngFor="let question of questions">
                <p>
                    {{count+1}}.{{question.question}}</p>
                <form data-toggle="validator" role="form">
                    <div class="form-group" *ngFor="let ans of question.answerOptions;let ind = index">
                        <label class="radio-inline">
                            <input type="radio" id="answer{{ind}}" name="answer" value="answer" (change)="grammar(ans)">{{ans}}</label>
                    </div>
                    <div class="container" *ngIf="alert">
                            <p class="text-danger">Please select a valid answer</p>
                        </div>
                </form>
            </div>
            <br>
            
           
        </div>
        
        
    </main>
    <div class="containerButton">
    <button type="button" class="button" (click)="onClick()">
            Next</button>
        </div>
    
</div>
<app-pause (pauseTestEvent)="pausePlayMain($event)" (PauseTimeEvent)="SetPauseTime($event)" [PauseTime]="eveHere" *ngIf="pause"></app-pause>